<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<%- include('../components/header') %>
<h1>index1</h1>
<%- include('../components/footer') %>
</body>
</html>
